.app {
  background-color: #f7f7f7;
}
.nav-active {
  color: #7ac1d1;
  border-bottom: 3px solid;
}
.nav-link {
  position: relative;
  text-decoration: none;
}
.nav-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: #7ac1d1;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.pimg {
  background: url("/public/assets/images/01.jpg");
  background-size: cover;
}
.back-to-top {
  position: fixed;
  bottom: 70px;
  right: 20px;
  font-size: 100px;
  background: #eed5d1;
  /* color: white; */
  cursor: pointer;
  border-radius: 100px;
  /* border: 1px solid #e5b9b6; */
  /* box-shadow: 0 5px 10px #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .back-to-top:hover {
  background: red;
} */

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}

.nav-link-mobile {
  display: none;
}
.nav-link-footer {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, auto);
}
.icon:hover {
  color: #e5b9b6;
  transition: all 0.3s ease-out;
}

.slider {
  position: relative;
  /* max-width: 1024px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  border-radius: 10px 10px 0 0;
  max-height: calc(100vh - 120px);
  max-width: calc(1024px - 10rem);
}
.left {
  position: absolute;
  top: 50%;
  /* left: -60px; */
  left: 0.5rem;
  cursor: pointer;
  user-select: none;
  font-size: 3rem;
  color: black;
}
.right {
  position: absolute;
  top: 50%;
  /* right: -60px; */
  right: 0.5rem;
  cursor: pointer;
  user-select: none;
  font-size: 3rem;
  color: black;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.01);
}
@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 60px;
    left: -100%;
    transition: all 0.5s ease;
  }

  .active {
    left: 0;
    transition: all 0.5s ease;
  }
  .nav-link:hover {
    text-align: center;
    width: 100vw;
    background-color: #eed5d1;
    color: black;
    transition: all 0.3s ease-out;
  }
  .nav-link-mobile {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, auto);
  }
  .icon:hover {
    color: #e5b9b6;
    transition: all 0.3s ease-out;
  }
}
